
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
	<div class="col-xs-7">
		<div id='images'>
		<div class="page-header"><h3>資訊應用課程</h2></div>
			<div class="row">
			   <div class="col-sm-6 col-md-3">
				  <a href="#" class="thumbnail">
					 <img src="./image/01.png" 
					 alt="Generic placeholder thumbnail">
				  </a>
			   </div>
			   <div class="col-sm-6 col-md-3">
				  <a href="#" class="thumbnail">
					 <img src="./image/02.jpg" 
					 alt="Generic placeholder thumbnail">
				  </a>
			   </div>
			</div>		
		<div class="page-header"><h3>資訊進階課程</h2></div>		
			<div class="row">
			   <div class="col-sm-6 col-md-3">
				  <a href="#" class="thumbnail">
					 <img src="./image/03.jpg" 
					 alt="Generic placeholder thumbnail">
				  </a>
			   </div>
			   <div class="col-sm-6 col-md-3">
				  <a href="#" class="thumbnail">
					 <img src="./image/04.jpg" 
					 alt="Generic placeholder thumbnail">
				  </a>
			   </div>
			   <div class="col-sm-6 col-md-3">
				  <a href="#" class="thumbnail">
					 <img src="./image/05.png" 
					 alt="Generic placeholder thumbnail">
				  </a>
			   </div>
			   <div class="col-sm-6 col-md-3">
				  <a href="#" class="thumbnail">
					 <img src="./image/06.png" 
					 alt="Generic placeholder thumbnail">
				  </a>
			   </div>
			</div>
			</div>
			</div>