
      <div class="container">
        <p>
		版權所有 國立臺灣大學 計算機及資訊網路中心<br>
		諮詢服務電話:02-33665022或5023
		諮詢服務信箱：teaching@ntu.edu.tw
		瀏覽人次:
		<a href='http://www.hit-counter-html-code.com'><img src='http://www.free-website-hit-counter.com/c.php?d=7&id=74695&s=7' border='0'></a><br ><small><a href='http://www.free-website-hit-counter.com' title="free website hit counter"></a></small>
		</p>
      </div>




<style type="text/css">
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
#wrap {
  padding-bottom: 70px
  min-height: 100%;
  height: auto;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -70px;
}

/* Set the fixed height of the footer here */

#footer {
  background-color: #E1FDE9;
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:10px;
} 

.d_footer
{
    position:fixed;
    bottom:0px;
    background-color: #336699;
    width:100%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    color:#ffffff;
}


</style>