    
	

	<script type="text/javascript" src="./header.js">
	</script>
    <div class="navbar navbar-inverse">

			<div class="pull-right">
            <ul class="nav navbar-nav" id="banner-top">
                <li><a href="http://www.cc.ntu.edu.tw/chinese/divisions/divisions_03.asp">計中教學組</a></li>
                <li><a href="http://epaper.ntu.edu.tw/?p=view&listid=5">|計中電子報</a></li>
                <li><a href="http://www.cc.ntu.edu.tw/chinese/">|計資中心</a></li>
                <li><a href="http://www.ntu.edu.tw/">|臺灣大學</a></li>
				<li><a href="https://my.ntu.edu.tw/register/viewcoursemain.asp">|舊版首頁</a></li>
            </ul>
			</div>	
	        
        <div id="banner">
		</div>			

		<div class="col-md-offset-2">		
		<div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
			<li id='index'><a href="./index.html"> 首  頁 </a></li>
			<li id='courseOverView'><a href="./courseOverview.html">|課程總覽</a></li>				
			<li id='registration'><a href="./registration.html">|課程報名</a></li>		
			<li id='certification'><a href="./certification.html">|證書核發</a></li>					
			<li id='otherInfo'><a href="./otherInfo.html">|其他資訊</a></li>			
			<li id='FAQ'><a href="./FAQ.html">|常見問題</a></li>					
			<li id='contactUs'><a href="./contactUs.html">|聯絡我們</a></li>
          </ul>
        </div><!--/.nav-collapse -->
		</div>
      
    </div>
