<style>


/* First level of nav */
.sidenav {
	position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #E1FDE9;
  border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 5px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #B8EEC8;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #4E8860;
  background-color: transparent;
}
</style>

<nav class="sidebar col-xs-2 ">
    <ul id="reg" class="nav sidenav affix"  align="center">
        <li class="active"><a href="#" onclick="showDetail('register');">線上報名</a></li>
        <li><a href="#" onclick="showDetail('courseInfo');">課程資料</a></li>
		<li><a href="#" onclick="showDetail('flow')">報名流程</a></li>
		<li><a href="#" onclick="showDetail('regSearch');">報名查詢</a></li>
        <li><a href="#" onclick="showDetail('pass');">合格名單</a></li>
		<li><a href="#" onclick="showDetail('waitingList');">備取名單</a></li>
        <li><a href="#" onclick="showDetail('cancel');">取消報名</a></li>
		<li><a href="#" onclick="showDetail('refund')">退費辦法</a></li>
		<li><a href="#" onclick="showDetail('discount')">問卷折扣</a></li>
		<li><a href="#" onclick="showDetail('survey')">開課調查</a></li>

    </ul>
</nav>
	<script src="./jquery.min.js"></script>  
	<script src="./bootstrap/js/bootstrap.js"></script>


<script type="text/javascript">

function showDetail(course) {   
    $('#reg.nav > li').click(function (e) {
        e.preventDefault();
        $('#reg.nav > li').removeClass('active');
        $(this).addClass('active');                
    });            
 var courseInfo = getCourseInfo(course);
 $('#pageDetail').attr('src',courseInfo[0]);
 $('#title').text( courseInfo[1]);
 $('#subnav').html(courseInfo[2]);
 
}
function getCourseInfo(course){
	var src;
	var title;
	var subnav='';
	switch(course){
		case 'register':
			url = window.location.pathname;
			url = url.slice(0, - 18);
			src = url+'/agreement.html';
			title = "線上報名";
			break;
		case 'courseInfo':
			src = 'https://my.ntu.edu.tw/register/UserViewCourseInforStep1.asp';
			title = "所有課程資料";
			break;
		case 'regSearch':
			src = 'https://my.ntu.edu.tw/register/UserViewSelfCourse.asp';
			title = "個人報名查詢";
			break;
		case 'cancel':
			src = 'https://my.ntu.edu.tw/register/UserCancelCO.asp';
			title = "取消未繳費課程";
			break;
		case 'pass':
			src = 'https://my.ntu.edu.tw/register/UserGraduateList.asp';
			title = "合格名單查詢";
			break;
		case 'waitingList':
			src = 'https://my.ntu.edu.tw/register/batchlist.asp';
			title = "備取名單查詢";
			break;
		case 'refund':
			src = 'refund.html';
			title = '退費方式';
			break;
		case 'flow':
			src = 'flow.html';
			title = '報名流程';
			break;
		case 'discount':
			src = 'https://my.ntu.edu.tw/register/UserViewSelfCourse.asp';
			title = '問券折扣';
			subnav=discount;
			break;
		case 'survey':
			src = 'http://mis.cc.ntu.edu.tw/register/ClassQuestionnaire.asp';
			title = '開課調查';
			break;
		case 'notice':
			src = 'notice.html';
			title = '報名須知';
			break;		
		case 'usage':
			src = 'http://teach.cc.ntu.edu.tw/training/important/questate.pdf';
			title = '問券折扣';
			subnav=discount;
			break;	
		case 'fillIn':
			src = 'http://mis.cc.ntu.edu.tw/register/question.asp';
			title = '問券折扣';
			subnav=discount;	
			break;						
	}
	return [src,title,subnav];
}
discount='<div class="page-header"><ul class="nav nav-pills" role="tablist"><li id="dc" class="active"><a href="#" role="tab" data-toggle="tab" onclick="showDetail(\'discount\'); $(dc).addClass(\'active\');"><h3>折扣查詢</h3></a></li><li id="fillIn"><a href="#" role="tab" data-toggle="tab" onclick="showDetail(\'fillIn\'); $(fillIn).addClass(\'active\'); $(dc).removeClass(\'active\');"><h3>填問券拿折扣</h3></a></li><li id="usage"><a href="#" role="tab" data-toggle="tab" onclick="showDetail(\'usage\'); $(usage).addClass(\'active\'); $(dc).removeClass(\'active\');"><h3>使用說明</h3></a></li></ul></div>';



		
</script>