<style>


/* First level of nav */
.sidenav {
	position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #E1FDE9;
  border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #103318;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #B8EEC8;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #4E8860;
  background-color: transparent;
}

/* Nav: second level */
.sidebar .nav .nav {
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
  color:#216635;
}

.sidebar .nav-title{
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 10px;
  font-size: 120%;
  font-weight: bold;
  color: white;
  background-color: #4E8860;
}
</style>
<div>
<nav class="sidebar col-xs-3">
    <ul class="nav sidenav affix">
        <li class="nav-title">下載課程一覽表</li>
        <li><a href="http://teach.cc.ntu.edu.tw/training/important/course1031.pdf" target="_blank">1031課程一覽表</a></li>
		<li class="nav-title">資訊應用課程
		<li><a>文書處理系列</a>
        <ul class="nav">
        <li><a href="#" id="1127" onclick="showDetail(this.id);">Excel2010初階應用（班次A）</a></li>
		<li><a href="#" id="1128" onclick="showDetail(this.id);">Excel2010初階應用（班次B）</a></li>
		<li><a href="#" id="1129" onclick="showDetail(this.id);">Excel2010進階實務應用</a></li>
		<li><a href="#" id="1131" onclick="showDetail(this.id);">PowerPoint2010 實務應用</a></li>
		</ul>
        </li>
        <li><a>影像繪圖系列</a>
        <ul class="nav">
		<li><a href="#" id="1126" onclick="showDetail(this.id);">Illustrator CS3繪圖設計與應用</a></li>
		<li><a href="#" id="1118" onclick="showDetail(this.id);">Photoshop CS3數位影像處理及應用（班次A）</a></li>
		<li><a href="#" id="1119" onclick="showDetail(this.id);">Photoshop CS3數位影像處理及應用（班次B）</a></li>
        </ul>
        </li>
        <li><a>網頁設計系列</a>
        <ul class="nav">
		<li><a href="#" id="1130" onclick="showDetail(this.id);">DreamweaverCS3網頁設計（班次職員專班）</a></li>
		<li><a href="#" id="1136" onclick="showDetail(this.id);">jQuery行動網頁與資料傳遞應用</a></li>	
		<li><a href="#" id="1135" onclick="showDetail(this.id);">jQuery跨平台網頁動畫設計</a></li>	
		<li><a href="#" id="1134" onclick="showDetail(this.id);">PHP&MySQL動態網頁系統建置</a></li>	
		<li><a href="#" id="1133" onclick="showDetail(this.id);">PHP&MySQL動態網頁基礎設計（班次B）</a></li>
		<li><a href="#" id="1138" onclick="showDetail(this.id);">Responsive Web Design-自適應網頁設計</a></li>
		<li><a href="#" id="1137" onclick="showDetail(this.id);">唾手可得的Big Data - Facebook</a></li>		
        </ul>
        </li></li>
		<li class="nav-title">資訊進階課程
        <li><a>程式設計</a>
        <ul class="nav">
		<li><a href="#" id="1124" onclick="showDetail(this.id);">C++程式設計基礎</a></li>
		<li><a href="#" id="1125" onclick="showDetail(this.id);">JAVA程式設計基礎</a></li>
		<li><a href="#" id="1139" onclick="showDetail(this.id);">MATLAB基礎程式技術（班次HPC）</a></li>
		<li><a href="#" id="1140" onclick="showDetail(this.id);">MATLAB進階程式設計(I)（班次HPC）</a></li>
		<li><a href="#" id="1141" onclick="showDetail(this.id);">MATLAB進階程式設計(II)（班次HPC）</a></li>
		</ul>
        </li>
        <li><a>資料庫管理系列</a>
        </li>
        <li><a>統計軟體系列</a>
        <ul class="nav"> 
		<li><a href="#" id="1121" onclick="showDetail(this.id);">SAS統計分析基礎</a></li>
		<li><a href="#" id="1122" onclick="showDetail(this.id);">R軟體與統計分析（班次A）</a></li>
		<li><a href="#" id="1123" onclick="showDetail(this.id);">R軟體與統計分析（班次B）</a></li>
		<li><a href="#" id="1120" onclick="showDetail(this.id);">SPSS統計分析實務</a></li>
        </ul>
        </li>
        <li><a>高效能運算系列</a>
        <ul class="nav"> 
		<li><a href="#" id="1142" onclick="showDetail(this.id);">高分子與古典力學模擬工具介紹- Materials Studio 應用與操作（班次HPC）</a></li>
		<li><a href="#" id="1143" onclick="showDetail(this.id);">量子與化學反應模擬工具介紹- Materials Studio應用與操作（班次HPC）</a></li>
		<li><a href="#" id="1144" onclick="showDetail(this.id);">電腦輔助蛋白質藥物設計與開發實作應用（班次HPC）</a></li>
		<li><a href="#" id="1145" onclick="showDetail(this.id);">電腦輔助蛋白質藥物與巨分子接合模擬及分析實作（班次HPC）</a></li>
        </ul>
        </li>
    </ul>
</nav>
</div>
<script type="text/javascript">
function showDetail(course) {
    $('ul.nav > li > ul >li').click(function (e) {
        e.preventDefault();
        $('ul.nav > li > ul >li').removeClass('active');
        $(this).addClass('active');                
    });         
 var courseInfo = getCourseInfo(course);
 $('#courseDetail').attr('src',courseInfo[0]);
 $('#courseName').text( courseInfo[1]);

}
function getCourseInfo(id){
	var src;
	var courseName='課程介紹';
	src='https://my.ntu.edu.tw/register/ViewCourseForm.asp?CourseID='+id;
	return [src,courseName];
}

	
</script>




